<section>
  Catalog

  Розділ 1
Коли я наблизився до центрального входу Першого банку Біт О’Хевен, автоматичні двері відчули мою присутність і гостинно розчахнулися назустріч. Я швидко ввійшов і відразу ж зупинився. Відчуваючи когось близько, стулки дверей не могли зійтися. Поки двері думали, мені вдалося дістати зі своєї сумки електричну зварку та розвернутися ще до того, як вони зачиняться повністю. Я добре вивчив механічні рефлекси цих дверей протягом своїх попередніх візитів до банку, тож знав: у мене 1,67 секунди на все. Достатньо часу. Своїм пристроєм я заварив двері по периметру рами. Тепер, знерухомлені, двері могли лише безпомічно дрижати. Далі щось заїло у механізмі, вони фаркнули тріскучими іскрами та завмерли остаточно.

Пролунало «Псування майна банку — злочин. Вас заарештовано», а робот-охоронець простягнув величезні загребущі долоні, щоб схопити правопорушника та тримати, доки приїде поліція.

«Не цього разу, дурний шматку заліза», — прогарчав я і встромив йому в груди голку свинобраза. Дві залізяки видали триста вольт і до біса ампер. Таким феєрверком вдалося б привернути увагу навіть свинобразів, яких зазвичай не здивуєш нічим. Робот зламався. Дим вальнув з усіх його щілин, і він упав на підлогу з гуркотом, відповідним до його чималенької ваги. Якраз на те місце, де щойно стояв я. Але я вже рушив уперед, неввічливо відштовхнув від віконечка каси літню пані, вихопив із сумки пістолет, навів його на касира та виголосив свою вимогу:

— Гроші або твоє життя, сестро. Складай готівку до цієї сумки.

Вийшло дуже грізно, хоча мій голос зірвався й останні слова я радше пропищав. Касирка всміхнулася та спробувала геройствувати:

— Іди додому, синку. Це не…

Я натиснув на курок, постріл гримнув біля її вуха, хмара диму засліпила. Касира не поранило, хоч саме так здалося всім іншим. Вона закотила очі та повільно сповзла на підлогу біля каси.

Гадали, так просто одурите Джиммі ді Ґріза! Одним стрибком я перемахнув через стійку та навів зброю на інших працівників, які з жахом вирячилися на мене.

— Назад, ви всі! Швидко! Я не хочу, щоб хтось тут надумав тиснути кнопку тривоги. Ти, жирдяй! — Я тицьнув пістолетом в огрядного касира, який під час попередніх візитів завжди мене ігнорував. Зараз він був готовий продемонструвати найкращий сервіс. — Складай гроші в сумку, великі купюри, негайно!

Товстун незграбно збирав гроші, працював так швидко, як тільки міг, жахливо пітніючи. Клієнти та співробітники, паралізовані страхом, застигли довкола в дивних позах. Двері до кабінету директора залишалися зачиненими. Це означало, що його, мабуть, немає на місці. Містер Пампушка напхав сумку готівкою та передав її мені. Поліція не з’явилася. Я міг запросто накивати п’ятами з грошима.

Я тихо вилаявся і вказав на мішок із дріб’язком:

— Висип решту та набери сюди ще грошей.

Я наказував, водночас глузуючи та погрожуючи. Касир слухняно все виконав, швидко напхавши той мішок грошима. Досі жодної поліції.

Чи могло так статися, щоб хоч один із цих дурних служак при чужих грошах не ризикнув натиснути кнопку тривоги? Як виявилося, могло.

Треба негайно щось робити.

Я потягнувся вперед і схопив інший мішок із дріб’язком.

— Накидай грошви ще сюди, — сказав я, пожбуривши мішок касирові.

Роблячи це, я зміг натиснути ліктем кнопку тривоги. Бувають дні, коли доводиться покладатися лише на себе.

Це мало бажаний ефект. Поки касир складав гроші до третьої сумки, а я прямував до виходу, похитуючись під своєю ношею, прибула поліція. Я бачив, як одна машина охоронців правопорядку вліпилася в іншу (такі надзвичайні ситуації тепер для поліції — рідкість), але нарешті вони там розібратися та вишикувалися в ряд, тримаючи зброю напоготові.

— Не стріляйте, — вискнув я, справді наляканий, бо більшість полісменів щось не здалася мені аж надто привітною. Вони не чули мене з-за вікон, але бачили. — Це жарт! — гукнув я. — Розіграш!

Я приставив дуло пістолета до голови й натиснув курок. Було багато диму з димового генератора та достатній звуковий ефект від пострілу (у мене задзвеніло у вухах). Я впав за стійку, подалі від нажаханих поглядів. Тепер хоч не буде стрілянини. Довелося терпляче чекати, доки поліцейські накричаться, налаються і врешті зламають двері.

Недивно, якби вам усе це здалося нісенітницею. Одна річ — грабувати банк, інша — грабувати його так, щоб тебе напевне спіймали. Навіщо, запитаєте ви, чинити такі дурниці?

Радий буду розповісти. Щоб зрозуміти мої мотиви, вам треба знати про життя на цій планеті — про моє тут життя. Дозвольте пояснити.

Планету Біт О’Хевен знайшла десь із тисячу років тому одна екзотична релігійна секта, від якої сьогодні, на щастя, не залишилося і сліду. Вони прилетіли сюди з іншої планети за назвою чи то Багно, чи то Земля; ще кажуть, усе людство походить звідти, але щось я сумніваюся.

У будь-якому разі, починалося все не надто весело. Перші поселенці гарували тяжко, занадто тяжко; ця планета, скажу я вам, місце для відпочинку нікудишнє. Тепер учителі в школі люблять нагадувати нам про ту самовіддану працю, особливо коли говорять про зіпсутість нинішньої молоді. Ми ледве стримуємося, щоб не відповісти їм, що вони, мабуть, самі зіпсовані, бо за останню тисячу років на цій бісовій планеті не змінилося нічого.

На початку, звісно, це скидалося на каторгу. Флора на планеті — справдешня отрута для людського організму. А треба ж було розчистити місце для вирощування їстівних культур. Фауна тут не краща: суціль зуби та кігті. І ще скажений норов. Настільки скажений, що корови й вівці мали тоді рекордно коротку тривалість життя. Нарешті маніпуляції з генами дали результат, і сюди надіслали першого свинобраза. Уявіть, якщо зможете, уява для цього потрібна неабияка: кабан вагою з тонну, з гострими іклами та мінливим настроєм. Уже досить страшно. А ще домалюйте цьому створінню довгі голки, як у чортового дикобраза. Хоч як це дивно звучить, але план спрацював; відтоді наші ферми розводять свинобразів у неймовірних кількостях. А свинобразівська шинка Біт О’Хевен відома в усій галактиці.

Розділ 1
Коли я наблизився до центрального входу Першого банку Біт О’Хевен, автоматичні двері відчули мою присутність і гостинно розчахнулися назустріч. Я швидко ввійшов і відразу ж зупинився. Відчуваючи когось близько, стулки дверей не могли зійтися. Поки двері думали, мені вдалося дістати зі своєї сумки електричну зварку та розвернутися ще до того, як вони зачиняться повністю. Я добре вивчив механічні рефлекси цих дверей протягом своїх попередніх візитів до банку, тож знав: у мене 1,67 секунди на все. Достатньо часу. Своїм пристроєм я заварив двері по периметру рами. Тепер, знерухомлені, двері могли лише безпомічно дрижати. Далі щось заїло у механізмі, вони фаркнули тріскучими іскрами та завмерли остаточно.

Пролунало «Псування майна банку — злочин. Вас заарештовано», а робот-охоронець простягнув величезні загребущі долоні, щоб схопити правопорушника та тримати, доки приїде поліція.

«Не цього разу, дурний шматку заліза», — прогарчав я і встромив йому в груди голку свинобраза. Дві залізяки видали триста вольт і до біса ампер. Таким феєрверком вдалося б привернути увагу навіть свинобразів, яких зазвичай не здивуєш нічим. Робот зламався. Дим вальнув з усіх його щілин, і він упав на підлогу з гуркотом, відповідним до його чималенької ваги. Якраз на те місце, де щойно стояв я. Але я вже рушив уперед, неввічливо відштовхнув від віконечка каси літню пані, вихопив із сумки пістолет, навів його на касира та виголосив свою вимогу:

— Гроші або твоє життя, сестро. Складай готівку до цієї сумки.

Вийшло дуже грізно, хоча мій голос зірвався й останні слова я радше пропищав. Касирка всміхнулася та спробувала геройствувати:

— Іди додому, синку. Це не…

Я натиснув на курок, постріл гримнув біля її вуха, хмара диму засліпила. Касира не поранило, хоч саме так здалося всім іншим. Вона закотила очі та повільно сповзла на підлогу біля каси.

Гадали, так просто одурите Джиммі ді Ґріза! Одним стрибком я перемахнув через стійку та навів зброю на інших працівників, які з жахом вирячилися на мене.

— Назад, ви всі! Швидко! Я не хочу, щоб хтось тут надумав тиснути кнопку тривоги. Ти, жирдяй! — Я тицьнув пістолетом в огрядного касира, який під час попередніх візитів завжди мене ігнорував. Зараз він був готовий продемонструвати найкращий сервіс. — Складай гроші в сумку, великі купюри, негайно!

Товстун незграбно збирав гроші, працював так швидко, як тільки міг, жахливо пітніючи. Клієнти та співробітники, паралізовані страхом, застигли довкола в дивних позах. Двері до кабінету директора залишалися зачиненими. Це означало, що його, мабуть, немає на місці. Містер Пампушка напхав сумку готівкою та передав її мені. Поліція не з’явилася. Я міг запросто накивати п’ятами з грошима.

Я тихо вилаявся і вказав на мішок із дріб’язком:

— Висип решту та набери сюди ще грошей.

Я наказував, водночас глузуючи та погрожуючи. Касир слухняно все виконав, швидко напхавши той мішок грошима. Досі жодної поліції.

Чи могло так статися, щоб хоч один із цих дурних служак при чужих грошах не ризикнув натиснути кнопку тривоги? Як виявилося, могло.

Треба негайно щось робити.

Я потягнувся вперед і схопив інший мішок із дріб’язком.

— Накидай грошви ще сюди, — сказав я, пожбуривши мішок касирові.

Роблячи це, я зміг натиснути ліктем кнопку тривоги. Бувають дні, коли доводиться покладатися лише на себе.

Це мало бажаний ефект. Поки касир складав гроші до третьої сумки, а я прямував до виходу, похитуючись під своєю ношею, прибула поліція. Я бачив, як одна машина охоронців правопорядку вліпилася в іншу (такі надзвичайні ситуації тепер для поліції — рідкість), але нарешті вони там розібратися та вишикувалися в ряд, тримаючи зброю напоготові.

— Не стріляйте, — вискнув я, справді наляканий, бо більшість полісменів щось не здалася мені аж надто привітною. Вони не чули мене з-за вікон, але бачили. — Це жарт! — гукнув я. — Розіграш!

Я приставив дуло пістолета до голови й натиснув курок. Було багато диму з димового генератора та достатній звуковий ефект від пострілу (у мене задзвеніло у вухах). Я впав за стійку, подалі від нажаханих поглядів. Тепер хоч не буде стрілянини. Довелося терпляче чекати, доки поліцейські накричаться, налаються і врешті зламають двері.

Недивно, якби вам усе це здалося нісенітницею. Одна річ — грабувати банк, інша — грабувати його так, щоб тебе напевне спіймали. Навіщо, запитаєте ви, чинити такі дурниці?

Радий буду розповісти. Щоб зрозуміти мої мотиви, вам треба знати про життя на цій планеті — про моє тут життя. Дозвольте пояснити.

Планету Біт О’Хевен знайшла десь із тисячу років тому одна екзотична релігійна секта, від якої сьогодні, на щастя, не залишилося і сліду. Вони прилетіли сюди з іншої планети за назвою чи то Багно, чи то Земля; ще кажуть, усе людство походить звідти, але щось я сумніваюся.

У будь-якому разі, починалося все не надто весело. Перші поселенці гарували тяжко, занадто тяжко; ця планета, скажу я вам, місце для відпочинку нікудишнє. Тепер учителі в школі люблять нагадувати нам про ту самовіддану працю, особливо коли говорять про зіпсутість нинішньої молоді. Ми ледве стримуємося, щоб не відповісти їм, що вони, мабуть, самі зіпсовані, бо за останню тисячу років на цій бісовій планеті не змінилося нічого.

На початку, звісно, це скидалося на каторгу. Флора на планеті — справдешня отрута для людського організму. А треба ж було розчистити місце для вирощування їстівних культур. Фауна тут не краща: суціль зуби та кігті. І ще скажений норов. Настільки скажений, що корови й вівці мали тоді рекордно коротку тривалість життя. Нарешті маніпуляції з генами дали результат, і сюди надіслали першого свинобраза. Уявіть, якщо зможете, уява для цього потрібна неабияка: кабан вагою з тонну, з гострими іклами та мінливим настроєм. Уже досить страшно. А ще домалюйте цьому створінню довгі голки, як у чортового дикобраза. Хоч як це дивно звучить, але план спрацював; відтоді наші ферми розводять свинобразів у неймовірних кількостях. А свинобразівська шинка Біт О’Хевен відома в усій галактиці.

Розділ 1
Коли я наблизився до центрального входу Першого банку Біт О’Хевен, автоматичні двері відчули мою присутність і гостинно розчахнулися назустріч. Я швидко ввійшов і відразу ж зупинився. Відчуваючи когось близько, стулки дверей не могли зійтися. Поки двері думали, мені вдалося дістати зі своєї сумки електричну зварку та розвернутися ще до того, як вони зачиняться повністю. Я добре вивчив механічні рефлекси цих дверей протягом своїх попередніх візитів до банку, тож знав: у мене 1,67 секунди на все. Достатньо часу. Своїм пристроєм я заварив двері по периметру рами. Тепер, знерухомлені, двері могли лише безпомічно дрижати. Далі щось заїло у механізмі, вони фаркнули тріскучими іскрами та завмерли остаточно.

Пролунало «Псування майна банку — злочин. Вас заарештовано», а робот-охоронець простягнув величезні загребущі долоні, щоб схопити правопорушника та тримати, доки приїде поліція.

«Не цього разу, дурний шматку заліза», — прогарчав я і встромив йому в груди голку свинобраза. Дві залізяки видали триста вольт і до біса ампер. Таким феєрверком вдалося б привернути увагу навіть свинобразів, яких зазвичай не здивуєш нічим. Робот зламався. Дим вальнув з усіх його щілин, і він упав на підлогу з гуркотом, відповідним до його чималенької ваги. Якраз на те місце, де щойно стояв я. Але я вже рушив уперед, неввічливо відштовхнув від віконечка каси літню пані, вихопив із сумки пістолет, навів його на касира та виголосив свою вимогу:

— Гроші або твоє життя, сестро. Складай готівку до цієї сумки.

Вийшло дуже грізно, хоча мій голос зірвався й останні слова я радше пропищав. Касирка всміхнулася та спробувала геройствувати:

— Іди додому, синку. Це не…

Я натиснув на курок, постріл гримнув біля її вуха, хмара диму засліпила. Касира не поранило, хоч саме так здалося всім іншим. Вона закотила очі та повільно сповзла на підлогу біля каси.

Гадали, так просто одурите Джиммі ді Ґріза! Одним стрибком я перемахнув через стійку та навів зброю на інших працівників, які з жахом вирячилися на мене.

— Назад, ви всі! Швидко! Я не хочу, щоб хтось тут надумав тиснути кнопку тривоги. Ти, жирдяй! — Я тицьнув пістолетом в огрядного касира, який під час попередніх візитів завжди мене ігнорував. Зараз він був готовий продемонструвати найкращий сервіс. — Складай гроші в сумку, великі купюри, негайно!

Товстун незграбно збирав гроші, працював так швидко, як тільки міг, жахливо пітніючи. Клієнти та співробітники, паралізовані страхом, застигли довкола в дивних позах. Двері до кабінету директора залишалися зачиненими. Це означало, що його, мабуть, немає на місці. Містер Пампушка напхав сумку готівкою та передав її мені. Поліція не з’явилася. Я міг запросто накивати п’ятами з грошима.

Я тихо вилаявся і вказав на мішок із дріб’язком:

— Висип решту та набери сюди ще грошей.

Я наказував, водночас глузуючи та погрожуючи. Касир слухняно все виконав, швидко напхавши той мішок грошима. Досі жодної поліції.

Чи могло так статися, щоб хоч один із цих дурних служак при чужих грошах не ризикнув натиснути кнопку тривоги? Як виявилося, могло.

Треба негайно щось робити.

Я потягнувся вперед і схопив інший мішок із дріб’язком.

— Накидай грошви ще сюди, — сказав я, пожбуривши мішок касирові.

Роблячи це, я зміг натиснути ліктем кнопку тривоги. Бувають дні, коли доводиться покладатися лише на себе.

Це мало бажаний ефект. Поки касир складав гроші до третьої сумки, а я прямував до виходу, похитуючись під своєю ношею, прибула поліція. Я бачив, як одна машина охоронців правопорядку вліпилася в іншу (такі надзвичайні ситуації тепер для поліції — рідкість), але нарешті вони там розібратися та вишикувалися в ряд, тримаючи зброю напоготові.

— Не стріляйте, — вискнув я, справді наляканий, бо більшість полісменів щось не здалася мені аж надто привітною. Вони не чули мене з-за вікон, але бачили. — Це жарт! — гукнув я. — Розіграш!

Я приставив дуло пістолета до голови й натиснув курок. Було багато диму з димового генератора та достатній звуковий ефект від пострілу (у мене задзвеніло у вухах). Я впав за стійку, подалі від нажаханих поглядів. Тепер хоч не буде стрілянини. Довелося терпляче чекати, доки поліцейські накричаться, налаються і врешті зламають двері.

Недивно, якби вам усе це здалося нісенітницею. Одна річ — грабувати банк, інша — грабувати його так, щоб тебе напевне спіймали. Навіщо, запитаєте ви, чинити такі дурниці?

Радий буду розповісти. Щоб зрозуміти мої мотиви, вам треба знати про життя на цій планеті — про моє тут життя. Дозвольте пояснити.

Планету Біт О’Хевен знайшла десь із тисячу років тому одна екзотична релігійна секта, від якої сьогодні, на щастя, не залишилося і сліду. Вони прилетіли сюди з іншої планети за назвою чи то Багно, чи то Земля; ще кажуть, усе людство походить звідти, але щось я сумніваюся.

У будь-якому разі, починалося все не надто весело. Перші поселенці гарували тяжко, занадто тяжко; ця планета, скажу я вам, місце для відпочинку нікудишнє. Тепер учителі в школі люблять нагадувати нам про ту самовіддану працю, особливо коли говорять про зіпсутість нинішньої молоді. Ми ледве стримуємося, щоб не відповісти їм, що вони, мабуть, самі зіпсовані, бо за останню тисячу років на цій бісовій планеті не змінилося нічого.

На початку, звісно, це скидалося на каторгу. Флора на планеті — справдешня отрута для людського організму. А треба ж було розчистити місце для вирощування їстівних культур. Фауна тут не краща: суціль зуби та кігті. І ще скажений норов. Настільки скажений, що корови й вівці мали тоді рекордно коротку тривалість життя. Нарешті маніпуляції з генами дали результат, і сюди надіслали першого свинобраза. Уявіть, якщо зможете, уява для цього потрібна неабияка: кабан вагою з тонну, з гострими іклами та мінливим настроєм. Уже досить страшно. А ще домалюйте цьому створінню довгі голки, як у чортового дикобраза. Хоч як це дивно звучить, але план спрацював; відтоді наші ферми розводять свинобразів у неймовірних кількостях. А свинобразівська шинка Біт О’Хевен відома в усій галактиці.
</section>