<section class="container drop-down-hero">

    <picture>
      <source 
      srcset="./img/catalog-favorites/background-desktop@1x.png 1x, 
      ./img/catalog-favorites/background-desktop@2x.png 2x" 
      media="(min-width:1280px)"/>
      <source 
      srcset="./img/catalog-favorites/background-tablet@1x.png 1x, 
      ./img/catalog-favorites/background-tablet@2x.png 2x" 
      media="(min-width:768px)"/>
      <source 
      srcset="./img/catalog-favorites/background-mobile@1x.png 1x, 
      ./img/catalog-favorites/background-mobile@2x.png 2x" 
      media="(max-width:767px)"/>
  
      <img 
        class="hero-img"
        src="../img/catalog-favorites/background-desktop@2x.png" 
        alt="Cutlet with pea puree" />
    </picture>
  
  
<!-- кнопка для прокрутки вікна -->
    <div class="icon-arrow">
        <svg class="icon-arrow-up">
            <use href="./img/sprite.svg#icon-dobble-arrow"></use>
        </svg>
    </div>

  </section>