/* повільна поява хедера при завантаженні сторінки */
@keyframes slideDown {
    0% {
      top: -100px; /* Початкове положення за межами екрана */
      opacity: 0; /* Початкова прозорість */
    }
    100% {
      top: 0; /* Кінцеве положення на своєму місці */
      opacity: 1; /* Кінцева прозорість */
    }
  }
  